- content_for :header do
  Password Recovery
- unless @user.nil? || !@user.active?
  %p
    You have successfully reset your password. You will receive an email with your new password shortly.
  %p
    %strong
      Note: After you login, please change your password to a more secure and easier to remember password.
  #submitbutton
    %p
      = link_to "Login now &raquo;", login_url
- else
  %p
    We're sorry, but we couldn't reset your password for you.
  %p
    To obtain a new password, please contact
    = configatron.support_name
    at
    = secure_mail_to configatron.support_email
    \.